.flight-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #dedddd;
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 10px;
  transition: all .3s ease;

  &:hover{
    border-color: #1ba0e2;
  }

  &__column {

  }
  &__title {
    font-size: 17px;
    color: #05b5ab;
  }
  &__label {
    font-weight: 600;
  }

  &__flight-number {
    flex: 1;
    display: flex;
    //align-items: center;
    justify-content: flex-start;
  }
  &__flight-selection {
    padding-right: 10px
  }

  &__info {
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}

.summary-section {
  padding-left: 15px;
  padding-bottom: 10px;
  &__check-all {
    padding-right: 15px;
    font-weight: bold;
    input {
      margin-right: 15px;
    }
  }
  &__divide {
    margin-right: 15px;
  }
  &__count {
    font-weight: bold;
  }
}
