.flight-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #dedddd;
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 10px;
  transition: all .3s ease;

  &:hover{
    border-color: #1ba0e2;
  }

  &__column {
    &--groups{
        flex: 6;
        display: flex;
        flex-direction: column;
    }
    &--simple{
      flex: 6;
      display: flex;
    }
    &__list-return{
      display: flex;
      margin-bottom: 15px;
      align-items: center;
      input{
        margin-right: 20px;
      }
      .flight-item__info{
        margin-right: 10px;
      }
    }
  }
  &__title {
    font-size: 17px;
    color: #05b5ab;
  }
  &__label {
    font-weight: 600;
  }

  &__flight-number {
    flex: 2;
    display: flex;
    //align-items: center;
    justify-content: flex-start;
    span {
      display: block;
    }
  }
  &__flight-selection {
    padding-right: 10px
  }

  &__info {
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    &__time {
      font-size: 17px;
      font-weight: bold;
      display: flex;
      align-items: center;
      width: 100%;
      span{
        flex: 0 0 calc(50% +  20px);
      }
      i{
        color: #dedddd;
      }
    }
    &__airport-name, &__airport-code {
      color: #ababab;
    }
    &__duration{
      font-size: 15px;
    }
  }
}

.summary-section {
  border: 1px solid #dedddd;
  font-size: 15px;
  padding: 15px;
  &__row{
    border-bottom: 1px solid $zigvy-col-border;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:last-child{
      border: none;
      margin: 0px;
      padding: 0px;
    }
  }
  &__item {
    display: block;
    &__label {
      min-width: 60px;
      display: inline-block;
    }
  }
  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 100%;
    }
  }
}

.result-section{
  display: flex;
  align-items: flex-start;
  &__list {
    flex: 4;
    .result-section__header {
      .flight-item {
        border: none;
        margin-bottom: 0;
        .flight-item__info{

        }
        &__column__list-return{
          margin-bottom: 0px;
          input{
            opacity: 0;
          }
        }
      }
    }
  }
  &__summary {
    flex: 2;
    margin-left: 10px;
    &__title{
      padding: 15px;
      font-size: 17px;
      color: $zigvy-col-brand;

    }

  }
}
